* {
	border: 0;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	min-height: 100%
}

h1 {
	color: blue;
	font-size: 1000%;
}

p {
	color: red;
	font-size: 135%;
}

#menubar {
	background: #FFFFFF;
	float: left;
	height: auto;
	min-height: 100%;
	/* position: relative; */
	/* position: fixed; */ /* can I have both like this */
	margin: 100px;

}

#main {
	/*position: fixed; */
	
	/* clear: both; */
	height: 100%;
	width: 1000px;
	/* position: relative; */
	margin: 50px;
}

ul {
	list-style-type: none;
	position: relative;
}

li {

}

#Stray {
	display: block;
    font-weight: bold;
    color: #98bf21;
    background-color: #FFFFFF;
    width: 135px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 135%;
}

a:link, a:visited {
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    width: 135px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
	border-radius: 10px;
    font-size: 135%;
}

a:hover, a:active {
    background-color: #7A991A;
}