html {
	text-align: center;
}

body {
	background-color: #FFFFFF; 
}

.jumbotron 
{
	background-image: url("img/home.jpg");
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #FFFFFF;
	text-shadow: 0px 0px 3px #505050, -1px -1px #505050, 1px 1px #505050;
	font-weight: bold;
}

.jumbotron h1 {
	font-size: 55px;
	padding: 30px;
	padding-bottom: 0px;
}

.jumbotron p {
	font-size: 24px;
}


.pic {
    padding: 0px;
    font-size: 18px;
    min-height: 300px;
    margin-bottom: 10px;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border: 2px dashed navy;
}

#me {
	background-image: url("img/gary.jpg");
}

#beNi {
	background-image: url("img/beNi.jpg");
}